<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Copyright (c) 2016 by ivan.huang all rights reserved  
*********************************************** 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<mapper namespace="com.hl.ins.mapper.TopicCommentMapper">

    <resultMap type="com.hl.ins.module.TopicComment" id="topicCommentResult">
        <result column="comment_id" property="comment_id"/>
        <result column="topic_id" property="topic_id"/>
        <result column="user_id" property="user_id"/>
        <result column="at_user_id" property="at_user_id"/>
        <result column="comment" property="comment"/>
        <result column="createtime" property="createtime"/>
        <result column="is_read" property="is_read"/>
    </resultMap>

    <sql id="table">
        t_topic_comment
    </sql>

    <sql id="tableColumns">
        <trim>
            comment_id,
            topic_id,
            user_id,
            at_user_id,
            comment,
            createtime,
            is_read
        </trim>
    </sql>

    <!-- insertColumns 入库列 -->
    <sql id="insertColumns">
        <trim suffix="" suffixOverrides=",">
            <if test="comment_id != null and comment_id != ''">comment_id,</if>
            <if test="topic_id != null and topic_id != ''">topic_id,</if>
            <if test="user_id != null and user_id != ''">user_id,</if>
            <if test="at_user_id != null and at_user_id != '' ">at_user_id,</if>
            <if test="comment != null and comment != ''">comment,</if>
            createtime,
            <if test="is_read != null and is_read != ''">is_read,</if>
        </trim>
    </sql>

    <!-- insertColumns 入库值 -->
    <sql id="insertParams">
        <trim suffix="" suffixOverrides=",">
            <if test="comment_id != null and comment_id != ''">#{comment_id,jdbcType=VARCHAR},</if>
            <if test="topic_id != null and topic_id != ''">#{topic_id,jdbcType=VARCHAR},</if>
            <if test="user_id != null and user_id != ''">#{user_id,jdbcType=VARCHAR},</if>
            <if test="at_user_id != null and at_user_id != ''">#{at_user_id},</if>
            <if test="comment != null and comment != ''">#{comment,jdbcType=VARCHAR},</if>
            now(),
            <if test="is_read != null ">#{is_read},</if>
        </trim>
    </sql>

    <!-- updateParams  更新列 -->
    <sql id="updateParams">
        <trim suffix="" suffixOverrides=",">
            <if test="topic_id != null">
                topic_id=#{topic_id,jdbcType=VARCHAR},
            </if>
            <if test="user_id != null and user_id != ''">
                user_id=#{user_id,jdbcType=VARCHAR},
            </if>
            <if test="at_user_id != null ">
                at_user_id=#{at_user_id},
            </if>
            <if test="comment != null and comment != ''">
                comment=#{comment,jdbcType=VARCHAR},
            </if>
            createtime=now(),
            <if test="is_read != null ">
                is_read=#{is_read},
            </if>
        </trim>
    </sql>

    <!-- fields  模糊查询 -->
    <sql id="allAndLike">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.topic_id != null and t.topic_id != '' ">and topic_id like
                    concat('%',#{t.topic_id},'%')
                </if>
                <if test="t.user_id != null   and t.user_id != '' ">and user_id like
                    concat('%',#{t.user_id},'%')
                </if>
                <if test="t.at_user_id != null and t.at_user_id != '' ">and at_user_id like
                    concat('%',#{t.at_user_id},'%')
                </if>
                <if test="t.comment != null   and t.comment != '' ">and comment like
                    concat('%',#{t.comment},'%')
                </if>
            </if>
        </trim>
    </sql>

    <!-- fields  精准查询 -->
    <sql id="allAndEqual">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.comment_id != null  and t.comment_id != '' ">and comment_id =
                    #{t.comment_id}
                </if>
                <if test="t.topic_id != null  and t.topic_id != '' ">and topic_id =
                    #{t.topic_id}
                </if>
                <if test="t.user_id != null  and t.user_id != '' ">and user_id =
                    #{t.user_id}
                </if>
                <if test="t.at_user_id != null  and t.at_user_id != ''  ">and at_user_id =
                    #{t.at_user_id}
                </if>
                <if test="t.comment != null  and t.comment != ''  ">and comment =
                    #{t.comment}
                </if>
                <if test="t.createtime != null  and t.createtime != ''  ">and createtime =
                    #{t.createtime}
                </if>
            </if>
        </trim>
    </sql>

    <!-- columnKey  主键 列名称 ,视图获取不到主键 需要设置 -->
    <sql id="primaryKeys">
        comment_id = #{comment_id}
    </sql>


    <sql id="queryParamSql">
        <where>
            <choose>
                <when test="queryParam !=null and queryParam.like==true">
                    <include refid="allAndLike"/>
                </when>
                <otherwise>
                    <include refid="allAndEqual"/>
                </otherwise>
            </choose>
            <if test="queryParam !=null and queryParam.queryCondition !=null">
                <![CDATA[${queryParam.queryCondition}]]>
            </if>

        </where>

        <choose>
            <when test="queryParam !=null and queryParam.orderFiled !=null and queryParam.orderFiled!=''">
                order by <![CDATA[${queryParam.orderFiled} ${queryParam.orderDirection}]]>
            </when>
            <when test="queryParam !=null and queryParam.orderFieldListStr !=null and queryParam.orderFieldListStr!=''">
                order by <![CDATA[${queryParam.orderFieldListStr}]]>
            </when>
            <otherwise>
                order by comment_id desc
            </otherwise>
        </choose>

        <if test="queryParam !=null and queryParam.limitOffSet !=null">
            limit <![CDATA[${queryParam.limitOffSet},${queryParam.pageSize}]]>
        </if>

    </sql>

    <!-- BaseMapper 对应接口 start  -->
    <!-- 1.  查询,主键查询   -->
    <select id="selectByPrimaryKey" resultMap="topicCommentResult">
        select
        <include refid="tableColumns"/>
        from t_topic_comment
        <where>
            <include refid="primaryKeys"/>
        </where>
    </select>

    <!-- 2. 查询,精准查询   -->
    <select id="selectByEqualT" resultMap="topicCommentResult">
        select
        <include refid="tableColumns"/>
        from t_topic_comment
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 3. 添加,插入记录   -->
    <insert id="insert">
        insert into t_topic_comment (<include refid="insertColumns"/>) values(<include refid="insertParams"/>);
    </insert>

    <!-- 4. 修改,主键更新  -->
    <update id="updateByPrimaryKey">
        update t_topic_comment
        <set>
            <include refid="updateParams"/>
        </set>
        <where>
            <include refid="primaryKeys"/>
        </where>
    </update>

    <!-- 5. 查询,实体模糊查询   -->
    <select id="selectByBlurryT" resultMap="topicCommentResult">
        select
        <include refid="tableColumns"/>
        from t_topic_comment
        <where>
            <include refid="allAndLike"/>
        </where>
        ORDER BY comment_id
    </select>

    <!-- 6. 查询 ,总行数,分页 ,模型 -->
    <select id="countByBlurryT" resultType="java.lang.Integer">
        select count(1) from t_topic_comment
        <include refid="queryParamSql"/>
    </select>

    <!-- 7. 删除,主键删除   -->
    <delete id="deleteByPrimaryKey">
        delete from t_topic_comment
        <where>
            <include refid="primaryKeys"/>
        </where>
    </delete>

    <!-- 8. 删除,按实体精准删除   -->
    <select id="deleteByT" resultMap="topicCommentResult">
        delete from t_topic_comment
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 9. 删除,按实体多字段模糊删除   -->
    <select id="deleteByBlurryT" resultMap="topicCommentResult">
        delete from t_topic_comment
        <where>
            <include refid="allAndLike"/>
        </where>
    </select>


    <select id="listByModel" resultMap="topicCommentResult">
        select
        <include refid="tableColumns"/>
        from t_topic_comment
        <include refid="queryParamSql"/>
    </select>

    <!-- BaseMapper 对应接口 end   -->



    <!-- OtherModule Mapper 对应接口 start  -->
    <resultMap id="commentVO" type="com.hl.ins.vo.topiccomment.CommentVO">
        <result column="comment_id" property="comment_id"/>
        <result column="topic_id" property="topic_id"/>
        <result column="user_id" property="user_id"/>
        <result column="user_name" property="user_name"/>
        <result column="user_icon" property="user_icon"/>
        <result column="at_user_id" property="at_user_id"/>
        <result column="at_user_name" property="at_user_name"/>
        <result column="comment" property="comment"/>
        <result column="createtime" property="createtime"/>
    </resultMap>

    <select id="comments" resultMap="commentVO">
        SELECT ttc.comment_id, ttc.topic_id, ttc.user_id,
        tu.user_name, tu.user_icon, ttc.at_user_id,
        tu1.user_name AS 'at_user_name', ttc.comment, ttc.createtime
        FROM t_topic_comment ttc
        INNER JOIN t_user tu
        ON (ttc.topic_id = #{topic_id} AND ttc.user_id = tu.user_id AND tu.user_black = 0)
        LEFT JOIN t_user tu1
        ON (ttc.at_user_id = tu1.user_id AND tu1.user_black = 0)
        ORDER BY ttc.createtime DESC
    </select>

    <!-- OtherModule Mapper 对应接口 end  -->

</mapper>
