<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Copyright (c) 2016 by ivan.huang all rights reserved  
*********************************************** 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<mapper namespace="com.hl.ins.mapper.TopicMapper">

    <resultMap type="com.hl.ins.module.Topic" id="topicResult">
        <result column="topic_id" property="topic_id"/>
        <result column="topic_desc" property="topic_desc"/>
        <result column="topic_location" property="topic_location"/>
        <result column="topic_user" property="topic_user"/>
        <result column="topic_at" property="topic_at"/>
        <result column="topic_createtime" property="topic_createtime"/>
        <result column="is_recommend" property="is_recommend"/>
        <result column="recommend_time" property="recommend_time"/>
        <result column="is_valid" property="is_valid"/>
    </resultMap>

    <sql id="table">
        t_topic
    </sql>

    <sql id="tableColumns">
        <trim>
            topic_id,
            topic_desc,
            topic_location,
            topic_user,
            topic_at,
            topic_createtime,
            is_recommend,
            recommend_time,
            is_valid
        </trim>
    </sql>

    <!-- insertColumns 入库列 -->
    <sql id="insertColumns">
        <trim suffix="" suffixOverrides=",">
            <if test="topic_id != null and topic_id != ''">topic_id,</if>
            <if test="topic_desc != null and topic_desc != ''">topic_desc,</if>
            <if test="topic_location != null and topic_location != ''">topic_location,</if>
            <if test="topic_user != null and topic_user != '' ">topic_user,</if>
            <if test="topic_at != null and topic_at != ''">topic_at,</if>
            topic_createtime,
            <if test="is_recommend != null ">is_recommend,</if>
            <if test="recommend_time != null ">recommend_time,</if>
            <if test="is_valid != null and is_valid != ''">is_valid,</if>
        </trim>
    </sql>

    <!-- insertColumns 入库值 -->
    <sql id="insertParams">
        <trim suffix="" suffixOverrides=",">
            <if test="topic_id != null and topic_id != ''">#{topic_id,jdbcType=VARCHAR},</if>
            <if test="topic_desc != null and topic_desc != ''">#{topic_desc,jdbcType=VARCHAR},</if>
            <if test="topic_location != null and topic_location != ''">#{topic_location,jdbcType=VARCHAR},</if>
            <if test="topic_user != null and topic_user != ''">#{topic_user},</if>
            <if test="topic_at != null and topic_at != ''">#{topic_at,jdbcType=VARCHAR},</if>
            now(),
            <if test="is_recommend != null ">#{is_recommend},</if>
            <if test="recommend_time != null and recommend_time != ''">#{recommend_time,jdbcType=VARCHAR},</if>
            <if test="is_valid != null ">#{is_valid},</if>
        </trim>
    </sql>

    <!-- updateParams  更新列 -->
    <sql id="updateParams">
        <trim suffix="" suffixOverrides=",">
            <if test="topic_desc != null">
                topic_desc=#{topic_desc,jdbcType=VARCHAR},
            </if>
            <if test="topic_location != null and topic_location != ''">
                topic_location=#{topic_location,jdbcType=VARCHAR},
            </if>
            <if test="topic_user != null ">
                topic_user=#{topic_user},
            </if>
            <if test="topic_at != null and topic_at != ''">
                topic_at=#{topic_at,jdbcType=VARCHAR},
            </if>
            topic_createtime=now(),
            <if test="is_recommend != null ">
                is_recommend=#{is_recommend},
            </if>
            <if test="recommend_time != null ">
                recommend_time=#{recommend_time},
            </if>
            <if test="is_valid != null ">
                is_valid=#{is_valid},
            </if>
        </trim>
    </sql>

    <!-- fields  模糊查询 -->
    <sql id="allAndLike">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.topic_desc != null and t.topic_desc != '' ">and topic_desc like
                    concat('%',#{t.topic_desc},'%')
                </if>
                <if test="t.topic_location != null   and t.topic_location != '' ">and topic_location like
                    concat('%',#{t.topic_location},'%')
                </if>
                <if test="t.topic_user != null and t.topic_user != '' ">and topic_user like
                    concat('%',#{t.topic_user},'%')
                </if>
                <if test="t.topic_at != null   and t.topic_at != '' ">and topic_at like
                    concat('%',#{t.topic_at},'%')
                </if>
                <if test="t.topic_createtime != null  ">and topic_createtime like
                    concat('%',#{t.topic_createtime},'%')
                </if>
                <if test="t.is_recommend != null   and t.is_recommend != ''    ">and is_recommend like
                    concat('%',#{t.is_recommend},'%')
                </if>
                <if test="t.recommend_time != null   and t.recommend_time != ''    ">and recommend_time like
                    concat('%',#{t.recommend_time},'%')
                </if>
            </if>
        </trim>
    </sql>

    <!-- fields  精准查询 -->
    <sql id="allAndEqual">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.topic_id != null  and t.topic_id != '' ">and topic_id =
                    #{t.topic_id}
                </if>
                <if test="t.topic_desc != null  and t.topic_desc != '' ">and topic_desc =
                    #{t.topic_desc}
                </if>
                <if test="t.topic_location != null  and t.topic_location != '' ">and topic_location =
                    #{t.topic_location}
                </if>
                <if test="t.topic_user != null  and t.topic_user != ''  ">and topic_user =
                    #{t.topic_user}
                </if>
                <if test="t.topic_at != null  and t.topic_at != ''  ">and topic_at =
                    #{t.topic_at}
                </if>
                <if test="t.topic_createtime != null  ">and topic_createtime =
                    #{t.topic_createtime}
                </if>
                <if test="t.is_recommend != null and t.is_recommend != '' ">and is_recommend =
                    #{t.is_recommend}
                </if>
            </if>
        </trim>
    </sql>

    <!-- columnKey  主键 列名称 ,视图获取不到主键 需要设置 -->
    <sql id="primaryKeys">
        topic_id = #{topic_id}
    </sql>


    <sql id="queryParamSql">
        <where>
            <choose>
                <when test="queryParam !=null and queryParam.like==true">
                    <include refid="allAndLike"/>
                </when>
                <otherwise>
                    <include refid="allAndEqual"/>
                </otherwise>
            </choose>
            <if test="queryParam !=null and queryParam.queryCondition !=null">
                <![CDATA[${queryParam.queryCondition}]]>
            </if>

        </where>

        <choose>
            <when test="queryParam !=null and queryParam.orderFiled !=null and queryParam.orderFiled!=''">
                order by <![CDATA[${queryParam.orderFiled} ${queryParam.orderDirection}]]>
            </when>
            <when test="queryParam !=null and queryParam.orderFieldListStr !=null and queryParam.orderFieldListStr!=''">
                order by <![CDATA[${queryParam.orderFieldListStr}]]>
            </when>
            <otherwise>
                order by topic_id desc
            </otherwise>
        </choose>

        <if test="queryParam !=null and queryParam.limitOffSet !=null">
            limit <![CDATA[${queryParam.limitOffSet},${queryParam.pageSize}]]>
        </if>

    </sql>

    <!-- BaseMapper 对应接口 start  -->
    <!-- 1.  查询,主键查询   -->
    <select id="selectByPrimaryKey" resultMap="topicResult">
        select
        <include refid="tableColumns"/>
        from t_topic
        <where>
            <include refid="primaryKeys"/>
        </where>
    </select>

    <!-- 2. 查询,精准查询   -->
    <select id="selectByEqualT" resultMap="topicResult">
        select
        <include refid="tableColumns"/>
        from t_topic
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 3. 添加,插入记录   -->
    <insert id="insert">
        insert into t_topic (<include refid="insertColumns"/>) values(<include refid="insertParams"/>);
    </insert>

    <!-- 4. 修改,主键更新  -->
    <update id="updateByPrimaryKey">
        update t_topic
        <set>
            <include refid="updateParams"/>
        </set>
        <where>
            <include refid="primaryKeys"/>
        </where>
    </update>

    <!-- 5. 查询,实体模糊查询   -->
    <select id="selectByBlurryT" resultMap="topicResult">
        select
        <include refid="tableColumns"/>
        from t_topic
        <where>
            <include refid="allAndLike"/>
        </where>
        ORDER BY topic_id
    </select>

    <!-- 6. 查询 ,总行数,分页 ,模型 -->
    <select id="countByBlurryT" resultType="java.lang.Integer">
        select count(1) from t_topic
        <include refid="queryParamSql"/>
    </select>

    <!-- 7. 删除,主键删除   -->
    <delete id="deleteByPrimaryKey">
        delete from t_topic
        <where>
            <include refid="primaryKeys"/>
        </where>
    </delete>

    <!-- 8. 删除,按实体精准删除   -->
    <select id="deleteByT" resultMap="topicResult">
        delete from t_topic
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 9. 删除,按实体多字段模糊删除   -->
    <select id="deleteByBlurryT" resultMap="topicResult">
        delete from t_topic
        <where>
            <include refid="allAndLike"/>
        </where>
    </select>


    <select id="listByModel" resultMap="topicResult">
        select
        <include refid="tableColumns"/>
        from t_topic
        <include refid="queryParamSql"/>
    </select>

    <!-- BaseMapper 对应接口 end   -->



    <!-- OtherModule Mapper 对应接口 start  -->

    <resultMap id="topicsVO" type="com.hl.ins.vo.topic.TopicsVO">
        <result column="user_id" property="user_id"/>
        <result column="user_name" property="user_name"/>
        <result column="user_icon" property="user_icon"/>
        <result column="topic_id" property="topic_id"/>
        <result column="topic_desc" property="topic_desc"/>
        <result column="topic_like_count" property="topic_like_count"/>
        <result column="topic_comment_count" property="topic_comment_count"/>
        <result column="topic_publish_time" property="topic_publish_time"/>
        <result column="topic_is_like" property="topic_is_like"/>
        <result column="topic_is_collect" property="topic_is_collect"/>
        <result column="images_total" property="images_total"/>
    </resultMap>

    <select id="topics" resultMap="topicsVO">
        SELECT tu.user_id, tu.user_name, tu.user_icon, tt.topic_id, tt.topic_desc,
        (SELECT COUNT(1) FROM t_topic_like ttl WHERE ttl.topic_id = tt.topic_id) AS 'topic_like_count',
        (SELECT COUNT(1) FROM t_topic_comment ttc WHERE ttc.topic_id = tt.topic_id) AS 'topic_comment_count',
        tt.topic_createtime AS 'topic_publish_time',
        (SELECT COUNT(1) FROM t_topic_like ttl WHERE ttl.topic_id = tt.topic_id AND ttl.user_id = 'c9c4756847584a999cfc91b8e2a78c89') AS 'topic_is_like',
        (SELECT COUNT(1) FROM t_user_collect tuc WHERE tuc.topic_id = tt.topic_id AND tuc.user_id = 'c9c4756847584a999cfc91b8e2a78c89') AS 'topic_is_collect',
        (SELECT COUNT(1) FROM t_topic_images tti WHERE tti.topic_id = tt.topic_id) AS 'images_total'
        FROM t_user_focus tuf
        INNER JOIN t_user tu
        ON (tuf.focus_from = #{user_id} AND tuf.focus_to = tu.user_id AND tu.user_black = 0)
        INNER JOIN t_topic tt
        ON (tu.user_id = tt.topic_user AND tt.is_valid = 1)
        ORDER BY tt.topic_createtime DESC
    </select>

    <resultMap id="topicsImagesVO" type="com.hl.ins.vo.topic.TopicsImagesVO">
        <result column="image_id" property="image_id"/>
        <result column="image_remote_link" property="image_remote_link"/>
        <result column="image_seq" property="image_seq"/>
    </resultMap>

    <select id="topicsImagesVO" resultMap="topicsImagesVO">
        SELECT tti.image_id, ti.image_remote_link, tti.image_seq FROM t_topic_images tti
        INNER JOIN t_image ti
        ON (tti.topic_id = #{topic_id} AND tti.image_id = ti.image_id )
        ORDER BY tti.image_seq
    </select>

    <!-- OtherModule Mapper 对应接口 end  -->

</mapper>
